@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: 'Righteous', cursive;
  background: #5f2c82;
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
  background: linear-gradient(to right, #49a09d, #5f2c82);
}
