.ButtonGroup {
    display: inline-block;
    right: 0em;
    position: fixed;
    bottom: 0em;
    background-color: #003644;
    width: 100%;
}

.ButtonGroup button {
    margin-right: 2em;
    float: right;
    position: relative;
    bottom: 1em;
}