.ResetPassword {
    margin: 0 auto;
    background-color: #fff;
    width: 54%;
    padding: 32px 18px;
    font-family: 'Righteous', cursive;
}

.title {
    font-size: 2rem;
    color: #fff;
    margin: 1em 0 2em 0;
}

.errorMessage {
    font-size: 1.5rem;
    color: crimson;
    font-weight: 700;
}

.LinkSentMessage {
    background-color: #43a047;
    margin: 0 auto;
    width: 90%;
    padding: 1px 16px;
    color: #fff;
    margin-bottom: 3em;
    border-left: 4px solid #1b5e20;
}

@media (min-width: 1000px) {
    .ResetPassword {
        width: 500px;
    }
}