@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700');

.Doc {
    text-align: left;
    padding: 2em 1em;
}

.Title {
    color: #fff;
    font-size: 1.9rem;
    margin: 9px 0;
}

.DocCont {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
}

.DocSideBar {
    background-color: #fff;
    min-height: 700px;
    min-width: 250px;
    padding: 10px 13px;
    border-radius: 3px;
    font-size: 1.1rem;
    font-family: 'Righteous', sans-serif;
    width: 250px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.DocSideBar > div > div > div:focus {
    outline: none;
}

.DocSideBar > p {
    cursor: pointer;
}

.DocSideBar span {
    cursor: pointer;
}

.DocSideBar img {
    width: 18px;
    position: relative;
    top: 1px;
    left: -4px;
}

.DocBody {
    background-color: #fff;
    margin-left: 1em;
    padding: 10px 25px;
    border-radius: 3px;
    overflow-x: auto;
    min-width: 30%;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.DocBody .Header {
    display: flex;
    padding: 10px 0 1.5em 0px;
    align-items: center;
}

.DocBody .Desc {
    font-size: 1.5rem;
    margin: 0;
}

.DocBody .Link {
    background-color: #f8dc3d;
    padding: 6px 11px;
    margin: 0;
    margin-left: 2em;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.DocBody .Link:hover {
    box-shadow: 0 0 0;
}

.DocBody .Link a {
    color: #000;
}

.DocBody .propsTitle {
    font-size: 1.5rem;
    margin: 0;
}

.DocBody table th {
    border-bottom: 1px solid #ccc;
}

.DocBody table th,
.DocBody table td {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.2rem;
    padding: 0.6em 1.5em;
}

.DocBody table tr:nth-child(even) {
    background-color: #ccc;
}

.DocBody .Code {
    margin: 0 auto;
    margin-top: 2em;
}

.DocBody .Code pre {
    padding: 1.5em 2em !important;
}