.NavigationItem {
    list-style: none;
    display: inline-block;
    position: relative;
    top: -9px;
    margin-right: 1em;
}

.NavigationItem a {
    color: #fff;
    position: relative;
    text-decoration: none;
    font-size: 1.1rem;
}

.gitLink {
    top: 1px;
}