@import url('https://fonts.googleapis.com/css?family=Tangerine');

.QuizLists {
    padding: 0em 2em;
}

.selectCont {
    text-align: left;
}

.selectCont > div {
    text-align: left;
    margin: 2em 0em 2em 0em;
    color: #fff;
    font-size: 1.3rem;
    margin-right: 2em;
    display: inline-block;
}

.selectCont > div label {
    display: block;
    font-size: 0.9rem;
}

.selectCont > div select {
    font-size: 1.2rem;
    margin: 10px 0px;
    padding: 6px 18px;
    font-family: 'Righteous', cursive;
    width: 100%;
}

.Table {
    width: auto;
    background-color: #fff;
    margin: 0 auto;
    font-size: 1.1rem;
    padding: 8px 2px;
    border-spacing: 12px 1px;
}

.Table td,
.Table th {
    padding: 12px 1em;
    font-weight: normal;
    text-transform: capitalize;
}

.Table th:not(:last-child) {
    background-color: #efefef;
    cursor: pointer;
}

.Table th:last-child {
    background-color: #ffd241;
    padding: 0 20px;
}

.Table th:not(:last-child):hover {
    background-color: #fff;
}

.Table tr td:last-child img {
    width: 25px;
    cursor: pointer;
}

.Table td img {
    width: 40px;
}

.QuizLists button {
    padding: 4px 18px;
    font-size: 0.9rem;
    background-color: #ffab91;
}

.thatsAll {
    color: #fff;
    font-size: 3.5rem;
    font-family: 'Tangerine', cursive;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .Table td:nth-of-type(1):before { content: "Language"; }
	.Table td:nth-of-type(2):before { content: "Total Questions"; }
	.Table td:nth-of-type(3):before { content: "Total Users"; }
	.Table td:nth-of-type(4):before { content: "Average Scores"; }
	.Table td:nth-of-type(5):before { content: "Created At"; }
	.Table td:nth-of-type(6):before { 
        content: "Take Quiz";
        background-color: #ffd241;
        padding: 11px 0px;
    }
}