.Card {
    align-items: flex-start;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    position: relative;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(245, 245, 245);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@media(max-width: 700px) {
    .Card {
        flex-direction: row;
    }
}