.Auth {
    margin: 0 auto;
    background-color: #fff;
    width: 54%;
    padding: 32px 18px;
    font-family: 'Righteous', cursive;
}

.title {
    font-size: 2rem;
    color: #fff;
    margin: 4em 0 2em 0;
}

.registerLoginToggleLink {
    color: #d30b55;
    text-decoration: underline;
    margin-top: 2em;
    margin-bottom: 0;
    position: relative;
    top: 20px;
    cursor: pointer;
}

.registerLoginToggleLink:hover {
    text-decoration: none;   
}