.Trackury {
    display: flex;
    padding: 10px 15px 4px 7px;
}

.Trackury > div {
    width: 22%;
}

p {
    margin: 0;
}

.ToastContainer {
    position: fixed;
    z-index: 100000;
}

@media(max-width: 700px) {
    .Trackury {
        flex-direction: column;
    }

    .Trackury > div {
        width: 100%;
    }
}