.Toolbar {
    height: 70px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    z-index: 90;
    background: #5f2c82;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
    text-align: left;
}

.Logo {
    display: inline-block;
}

.Nav {
    display: inline-block;
    float: right;
}

.Logo img {
    height: 41px;
    margin: 14px 9px;
}

@media (max-width: 800px) {
    .Logo img {
        height: 41px;
        margin: 16px 60px;
    }
}